form {
    border: 3px solid #f1f1f1;
    margin: 0 auto;
}
.err_msg
{
	color:red; 
	text-decoration:underline;	
}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
 input[type=reset]{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f44336;
    width: 100%;
 }
input[type=submit]{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #45a049;
    width: 100%;
    
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn {
    width: auto;
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
}

.container {
	position relative;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}
body {
    font-family:Verdana,sans-serif;
    font-size:100%;
    background-color:orange;
}

h1 {
   font-family: "Times New Roman", Times, serif;
   color: blue;
   background-color: white;
}

p {
   font-family: "Arial", Times, serif;
   font-size: 15px;
}

.center {
    text-align: center;
    border: 3px solid green;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;

header,footer,section,article, aside{
    border:1px solid blue;
    margin:5px;
    margin-bottom:15px;
    padding:8px;
    background-color:white;
}

header,footer {
    clear: both;
    color:white;background-color:#444;margin-bottom:5px;
}

section {
    background-color:#ddd;
    float: left;
    width: 60%;
}

aside {
    background-color:#1cb197;
    margin-left: 62.5%;
    width: 35.7%;
}
